<button ui-sref="home" ui-sref-active="activeState" class="btn btn-outline-primary">
  Home
</button>

<button class="btn btn-outline-primary">
  Categories
</button>

<!-- <ul>
  <li ng-repeat="item in ctrl.categories_list"
     ui-sref="items({categoryShortName: $ctrl.short_name})">
       {{ item.short_name }} = {{ item.name }}
  </li>
</ul> -->
<div>
<button ng-repeat="item in ctrl.categories_list"
     ui-sref="items({categoryShortName: $ctrl.short_name})"
     class="btn btn-outline-success">
       {{ item.name }}
</button>
</div>

<!-- Only in simplistic way in controller You should use it in DIV
 ng-controller='CategoriesController as ctrl' -->
