<div id="menu">

<button ui-sref="home" ui-sref-active="activeState" class="btn btn-outline-primary">
  Home
</button>

<button ui-sref="categoriesList" ui-sref-active="activeState" class="btn btn-outline-primary">
  Categories
</button>

<button class="btn btn-outline-primary">
  Menu
</button>

<!-- <ul>
  <li ng-repeat="item in itctrl.items_list">
       {{ item.short_name }} {{ item.name }} {{ item.description }}
  </li>
</ul> -->
<table>
<tr ng-repeat="item in itctrl.items_list">
    <td style="background-color:#337ab7; border:5px solid white; text-align:center; color: white">
        {{ item.short_name}}
    </td>
    <td>
        <h5>{{ item.name| uppercase}}</h5>
    </td>
    <td>{{item.description}}</td>
</tr>
</table>

</div>
