<div id="menu">
<button ui-sref="home"
ui-sref-active="activeState" class="btn btn-outline-primary">
<i class="bi bi-house"></i>
  Home
</button>

<button ui-sref="categoriesList" ui-sref-active="activeState" class="btn btn-outline-primary">
<i class="bi bi-list"></i>
  Categories
</button>

<button class="btn btn-outline-primary">
<i class="bi bi-list-stars"></i>
  {{itctrl.cat_detail.name}}
</button>
<blockquote>
<p>
    {{itctrl.cat_detail.special_instructions}}
</p>
</blockquote>

<!-- <ul>
  <li ng-repeat="item in itctrl.items_list">
       {{ item.short_name }} {{ item.name }} {{ item.description }}
  </li>
</ul> -->
<table class="table table-hover table-condensed">
<tr ng-repeat="item in itctrl.items_list">
    <td style="background-color:#337ab7; border:5px solid white; text-align:center; color: white">
        {{ item.short_name}}
    </td>
    <td>
        <h5>{{ item.name| uppercase}}</h5>
    </td>
    <td>{{item.description}}</td>
</tr>
</table>
</div>
